{% extends "./base.html.twig" %}
{% block title %}Accueil{% endblock title %}
{% block add %}

<div class="container bg-dark mt-3 py-3 text-white">
  <form action="" method="post" class="text-left">
    <label class="input-search m-0 fs-20 font-weight-bold text-left mb-2">Nom du produit :</label>
    <input type="text" name="searchInput" class="form-control mb-4">
    <label class="categorie-select m-0 fs-20 font-weight-bold text-left">Choississez une catégorie :</label>
    <div class="pt-2 d-flex justify-content-center flex-wrap">
      {# <div class="check-item">
        <input class="" type="checkbox" id="Check0" value="{{categorie.id}}" checked="true">
        <label class="" for="">
          Toutes
        </label>
      </div> #}
      <ul class="ks-cboxtags mb-0">
        {% for categorie in categories %}
        <li class="mx-2">
          <label class="label-checkbox">
            <input class="input-checkbox" name="{{categorie.id}}" type="checkbox" id="Check{{categorie.id}}" value="{{categorie.id}}">
            <div class="button-checkbox d-flex align-items-center">
              <i class="material-icons align-middle add">add</i>
              <i class="material-icons align-middle done">done</i>
              <span class="ml-4 mr-2">{{categorie.cat_libelle}}</span>
            </div>
          </label>
        </li>
        {% endfor %}
      </ul>
    </div>
    <button type="submit" class="btn btn-danger font-weight-bold mt-4"><i
        class="material-icons mr-2 align-middle">search</i>Chercher</button>
  </form>
</div>

<div
  class="container w-auto ml-3 mr-3 ml-sm-auto mr-sm-auto ml-sm-0 mt-3 px-0 flex-wrap d-flex justify-content-center border border-dark border-size-5 bg-dark"
  id="scroller-layout">
  {% for annonce in listes_annonces %}
  <div
    class="scroller-item d-flex justify-content-between text-dark border border-dark flex-column-reverse bg-light p-2 col-lg-4 col-sm-6 col-12 border-size-5"
    id="{{annonce.ann_id}}">
    <div class="annonce-text d-flex justify-content-between flex-column text-center text-xl-left">
      <h2 class="text-center">{{annonce.ann_titre}}</h2>
      <p class="text-danger ml-2 prix">{{annonce.ann_prix}} €</p>
      <div>
        <p class="ml-2 mb-0 font-italic">{{annonce.cat_libelle}}</p>
        <p class="ml-2 font-weight-bold">Le {{annonce.ann_date_ecriture|date('j m Y')}}</p>
      </div>
      <div class="d-flex justify-content-center btn-annonce flex-sm-column flex-md-row">
        <a href="annonce/{{annonce.ann_id}}"
          class="btn bg-danger text-light d-flex justify-content-center mb-sm-2 mb-md-0 mr-2 mr-sm-0">
          <i class="material-icons mr-2">pageview</i>
          <span>Détails</span>
        </a>
        <a href="telecharger/{{annonce.ann_id}}" target="_blank"
          class="btn bg-danger text-light d-flex justify-content-center ml-md-3">
          <i class="material-icons mr-2">picture_as_pdf</i>
          <span>Télécharger</span>
        </a>
      </div>
    </div>
    {% if annonce.ann_image_url %}
    {% set image = annonce.ann_image_url %}
    {% else %}
    {% set image = annonce.cat_libelle ~ '.jpg'  %}
    {% endif %}
    <div
      class="d-flex align-items-center justify-content-xl-center justify-content-lg-center justify-content-md-end justify-content-center p-0 ">
      <img class="w-100 fit-picture mw-500 mh-500 img-fluid" src="../public/assets/media/{{image}}"
        alt="{{annonce.ann_image_nom}}">
    </div>

  </div>

  {% endfor %}
  <div id="first-loader" class="ajax-loader text-center col-12 m-3 d-none" value={{Nbr_annonces}}>
    {# <img src="../public/assets/media/loader.gif"> #}
    <div class="spinner-border text-light" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div id="fin-annonce" class="fin-annnonce text-center bg-light d-none col-12 display-4 font-weight-bold py-5 mt-5">
    Fin des annonces
  </div>
</div>
<a href="" class="d-none scrollup btn bg-danger"><i class="material-icons text-light display-5 ">arrow_upward</i></a>
{% endblock add %}
{% block footer %}

<div class="bg-dark p-4 text-light d-flex flex-column flex-sm-row justify-content-between text-center">
  <div>
    &copy;
    <script>
      document.write(new Date().getFullYear());
    </script>
    <span>Lama Shop</span>
  </div>
  <div class="">
    <a href="https://github.com/fouad-git" class="text-danger" target="_blank">Fouad LYOUSFI</a>
    <span class="fs-20"> • </span>
    <a href="https://github.com/fouad-git" class="text-danger" target="_blank">Adrien Schmidt</a>
  </div>

</div>
{% endblock footer %}